:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-dark-alternate: #262C27;
    --color-blue: #0093A1;
    --color-turquoise: #B9C400;
    
    --container-width: 1204px;
    --container-padding-x: 15px; 
}


body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-dark-alternate);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}