@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-dark-alternate: #262C27;
    --color-blue: #0093A1;
    --color-turquoise: #B9C400;

    --font-family-base: "Inter", sans-serif;
    --font-family-accent: "Comfortaa", sans-serif;

    --container-width: 1200px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}


body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-dark-alternate);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

.button {
    display: inline-flex;
    align-items: center;
    height: 42px;
    padding-inline: 74px;
    border: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.header {
    position: relative;
    min-height: 100vh;
    background: url(../images/header-bg.jpg) center/cover no-repeat;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url(../images/header-decor.svg) center/cover no-repeat;
    height: 456px;
    transform: translateY(35%);
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: url(../images/header-decor.svg) center/cover no-repeat;
    height: 456px;
    transform: translateY(75%) rotate(180deg);
}

.header__top {
    display: flex;
    align-items: center;
    column-gap: clamp(20px, 5.3vw, 100px);
    justify-content: flex-end;
    padding-block: 57px;
}

.logo:hover path {
    fill: var(--color-blue);
}

.header__phone {
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-dark-alternate);
}

.header__content {
    position: relative;
    min-height: calc(100vh - 161px);
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-width: 550px;
    margin-right: 30px;
    font-family: var(--font-family-accent);
    font-weight: 700;
    color: var(--color-light);
    margin-bottom: 150px;
}

.header__title {
    font-family: 'Comfortaa', cursive;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;

}

.header__description-text {
    font-size: 24px;
    line-height: 1.13;
}

.header__decor-text {
    position: absolute;
    bottom: 25px;
    z-index: 100;
    color: var(--color-blue);
}

.header__decor-text--first,
.header__decor-text--second {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 130px;
    opacity: 0.3;
}

.header__decor-text--first {
    z-index: 1;
    right: 145px;
    bottom: 128px;
}

.header__decor-text--second {
    z-index: 4;
    left: 265px;
    bottom: 0;
}

.header__decor-text--third {
    right: 145px;
    max-width: 360px;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}