@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-dark-alternate: #262C27;
    --color-blue: #0093A1;
    --color-turquoise: #B9C400;

    --font-family-base: "Inter", sans-serif;
    --font-family-accent: "Comfortaa", sans-serif;

    --container-width: 1200px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}


body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-dark-alternate);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin-block: 0;
}

img {
    object-fit: cover;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-flex;
    align-items: center;
    height: 42px;
    padding-inline: 74px;
    border: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.header {
    position: relative;
    min-height: 100vh;
    background: url(../images/header-bg.jpg) center/cover no-repeat;
    margin-bottom: 80px;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url(../images/header-decor.svg) center/cover no-repeat;
    height: 456px;
    transform: translateY(35%);
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: url(../images/header-decor.svg) center/cover no-repeat;
    height: 456px;
    transform: translateY(75%) rotate(180deg);
}

.header__top {
    display: flex;
    align-items: center;
    column-gap: clamp(20px, 5.3vw, 100px);
    justify-content: flex-end;
    padding-block: 57px;
}

.logo:hover path {
    fill: var(--color-blue);
}

.header__phone {
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-dark-alternate);
}

.header__content {
    position: relative;
    min-height: calc(100vh - 161px);
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-width: 550px;
    margin-right: 30px;
    font-family: var(--font-family-accent);
    font-weight: 700;
    color: var(--color-light);
    margin-bottom: 150px;
}

.header__title {
    font-family: 'Comfortaa', cursive;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;

}

.header__description-text {
    font-size: 24px;
    line-height: 1.13;
}

.header__decor-text {
    position: absolute;
    bottom: 25px;
    z-index: 100;
    color: var(--color-blue);
}

.header__decor-text--first,
.header__decor-text--second {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 130px;
    opacity: 0.3;
}

.header__decor-text--first {
    z-index: 1;
    right: 145px;
    bottom: 128px;
}

.header__decor-text--second {
    z-index: 4;
    left: 265px;
    bottom: 0;
}

.header__decor-text--third {
    right: 145px;
    max-width: 360px;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

.info {
    position: relative;
    background: url(../images/info-bg.jpg) center/cover no-repeat;
}


.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 130px;
    background-color: var(--color-dark-alternate);
    z-index: 1;
    transform: translateY(-120px);
}

.info__top {
    display: flex;
    column-gap: 80px;
    padding-top: 100px;
    margin-bottom: 65vh;
}

.info__top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding-top: 245px;
    width: 274px;
    color: var(--color-light);
}

.info__top-text.with-border {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-light);
}

.popup-btn {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background: none;
    border: none;
    color: var(--color-light);
    cursor: pointer;
}

.popup-btn:hover {
    color: #B9C400;
}

.popup-btn:hover svg path {
    fill: #B9C400;
}

.popup-btn:hover svg circle {
    stroke: #B9C400;
}

.info__top-image {
    position: relative;
    bottom: -21px;
    z-index: 6;
}

.info__specs {
    display: flex;
    align-items: center;
    column-gap: clamp(30px, 6.77vw, 130px);
    color: var(--color-light);
    padding-bottom: 50px;
}

.info__specs-list {
    width: 565px;
    border-top: 1px solid var(--color-light);
    border-bottom: 1px solid var(--color-light);
    padding-block: 30px;
    font-weight: 700;
}

.info__specs-title {
    width: 250px;
    text-transform: uppercase;
}

.info__specs-item {
    display: flex;
    column-gap: 25px;
    margin-bottom: 15px;
}

.info__specs-caption {
    width: 178px;
}

.product-featured {
    padding-top: 150px;
}

.product-featured__wrapper {
    display: flex;
    align-items: center;
    column-gap: clamp(10px, 4.68vw, 90px);
}

.product-featured__content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    flex-basis: 510px;
}

.product-featured__title {
    color: var(--color-blue);
    white-space: nowrap;
}

.product-featured__item {
    width: 279px;
}

.product-featured__item:hover .product-featured__item-title {
    color: var(--color-blue);
}

.product-featured__item:not(:last-child) {
    margin-bottom: 25px;
}

.product-featured__item-title {
    font-weight: 700;
    color: var(--color-dark-alternate);
    text-transform: uppercase;
    margin-bottom: 5px;
    transition-duration: var(--transition-duration);
}

.product-featured__button {
    display: inline-flex;
    height: 80px;
    align-self: start;
    justify-content: center;
    align-items: center;
    padding-inline: 197px;
    background-color: transparent;
    border: 2px solid var(--color-blue);
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 40px;
    color: var(--color-blue);
    cursor: pointer;
}

.product-featured__button:hover {
    background-color: var(--color-turquoise);
    color: var(--color-dark-alternate);
    border: 2px solid var(--color-turquoise);
}

.product-featured__price {
    position: absolute;
    right: 0;
    bottom: 130px;
    z-index: 1;
    width: 250px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    color: var(--color-dark-alternate);
    background: url(../images/star.svg) center/contain no-repeat;
    transition: transform .2s;
}

.product-featured__price:hover {
    transform: scale(1.1);
}

.technology {
    margin-bottom: 150px;
    position: relative;

}

.technology__top {
    display: flex;
    /* на всякий случай */
    background: url(../images/technology-bg.png) center/cover no-repeat;
}

.technology__top-inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 110vh;
    width: 100%;
    padding-bottom: 85px;
}

.technology-btn {
    position: absolute;
    top: 50vh;
    right: 32%;
    z-index: 100;
}

.technology__top-box {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.technology__title {
    max-width: 470px;
    color: var(--dark);
    text-transform: uppercase;
    margin-bottom: 62px;
}

.technology__list {
    padding-left: 28px;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-dark-alternate);
}

.technology__list-item {
    padding-left: 20px;
}

.technology__list-item:not(:last-child) {
    margin-bottom: 15px;
}

.title {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 60px;
    line-height: 1.12;
}

.technology__gallery-box {
    display: flex;
    column-gap: 68px;
    padding-top: 115px;
    flex-wrap: wrap;
}

.technology__gallery-text {
    max-width: 350px;
}

.technology__gallery-min {
    position: relative;
    display: grid;
    grid-template-columns: 481px 208px;
    grid-template-rows: 432px 300px;
    gap: 24px 30px;
    margin-top: -35%;
    margin-bottom: 150px;
    padding: 72px 31px 52px;
}

.technology__gallery-min::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    border: 3px solid var(--color-dark-alternate);
    border-radius: 200px 0px 300px 0px;
}

.technology__gallery-min-image--1 {
    grid-column: 1 / 3;
    border-radius: 400px 0 0 0;
}

.technology__gallery-min-image--2 {
    border-radius: 0 0 0 300px;
}

.technology__gallery-max {
    flex-basis: 100%;
}

.technology__gallery-max {
    display: grid;
    grid-template-columns: 300px 469px 391px;
    grid-template-rows: 340px repeat(2, 270px);
    gap: 20px;
}

.technology__gallery-max-image--1 {}

.technology__gallery-max-image--2 {
    grid-column: 2 / -1;
    justify-self: end;
    border-radius: 0 500px 0 0;
}

.technology__gallery-max-image--3 {
    border-radius: 0 0 150px 0;
}

.technology__gallery-max-image--4 {
    border-radius: 0 200px 0 0;
}

.technology__gallery-max-image--5 {
    border-radius: 200px 0 0 0;
}

.technology__gallery-max-image--6 {
    grid-column: 2 / -1;
    border-radius: 0 0 0 400px;
}

.technology__gallery-max-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    font-family: var(--font-family-base);
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-blue);
    border-radius: 0 0 0 200px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: var(--color-dark-alternate);
    color: var(--color-light);
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 27px;
}

.footer__logo {
    align-self: flex-start;
}

.footer__logo:hover path {
    fill: var(--color-blue);
}

.footer__form {
    max-width: 500px;
    width: 100%;
}

.footer__field {
    margin-bottom: 57px;
}

.footer__input {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    color: var(--color-light);
}

.footer__input::placeholder {
    font-family: var(--font-family-base);
    font-weight: 700;
    font-size: 18px;
    color: var(--color-light);
    opacity: 0.2;
}

.footer__input:focus {
    outline: none;
    box-shadow: none;
}

.footer__form-button {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding-inline: 66px;
    margin-bottom: 110px;
}

.footer__social__title {
    margin-bottom: 28px;
    font-weight: 700;
}

.footer__social-gallery {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 52px;
    margin-bottom: 50px;
}

.footer__menu-list {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    font-weight: 700;
}